<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="net.sf.webissues.repository"
         name="%plugin.name"
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="net.sf.webissues.core.WebIssuesRepositoryConnector"
            id="webissues"
            name="%plugin.connector"/>
      <connectorUi
            brandingIcon="icons/eview16/webissues-icon.gif"
            class="net.sf.webissues.ui.WebIssuesConnectorUi"
            id="webissues"
            name="WebIssues Connector UI"
            overlayIcon="icons/eview16/overlay-webissues.gif"/>
      <taskListMigrator
            class="net.sf.webissues.ui.WebIssuesTaskListMigrator">
      </taskListMigrator>
   </extension>

   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory
            class="net.sf.webissues.ui.editor.WebIssuesEditorPageFactory"
            id="net.sf.webissues.ui.pageFactory">
      </pageFactory>
   </extension>
   
   <extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="net.sf.webissues.ui.contribution"
            targetID="org.eclipse.mylyn.tasks.ui.views.repositories">
            <action
                  class="net.sf.webissues.ui.actions.ManageViewsActions"
                  definitionId="net.sf.webissues.ui.actions.manageViews"
                  enablesFor="1"
                  icon="icons/eview16/all.gif"
                  id="net.sf.webissues.ui.actions.manageViews"
                  label="%ManageViewsAction.label"
                  menubarPath="org.eclipse.mylyn.tasks.ui.views.repositories"
                  tooltip="%ManageViewsAction.tooltip">
         </action>
         </viewerContribution>
      </extension>
</plugin>
