<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="net.sf.webissues.repository"
         name="WebIssues Repository"
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="net.sf.webissues.core.WebIssuesRepositoryConnector"
            id="webissues"
            name="WebIssues Connector Core"/>
      <connectorUi
            brandingIcon="icons/eview16/webissues-icon.gif"
            class="net.sf.webissues.ui.WebIssuesConnectorUi"
            id="webissues"
            name="WebIssues Connector UI"
            overlayIcon="icons/eview16/overlay-webissues.gif"/>
      <taskListMigrator
            class="net.sf.webissues.ui.WebIssuesTaskListMigrator">
      </taskListMigrator>
   </extension>

   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory
            class="net.sf.webissues.ui.editor.WebIssuesEditorPageFactory"
            id="net.sf.webissues.ui.pageFactory">
      </pageFactory>
   </extension>
   
   <extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.eclipse.mylyn.tasklist.ui.viewerContribution"
            targetID="org.eclipse.mylyn.tasks.ui.views.tasks">
            <action
               class="net.sf.webissues.ui.actions.DeleteIssueAction"
               definitionId="org.eclipse.ui.file.delete"
               enablesFor="*"
               id="net.sf.webissues.ui.actions.delete"
               label="%DeleteIssueAction.label"
               menubarPath="repository"
               tooltip="%DeleteIssueAction.tooltip">
            <enablement>
                  <not>
                     <objectClass
                           name="org.eclipse.mylyn.internal.tasks.core.LocalTask">
                     </objectClass>
                  </not>
            </enablement>
         </action>
         </viewerContribution>
      </extension>
</plugin>
